<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="col-6">
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Favorite food" value="Sushi">
          </mat-form-field>
        
          <mat-form-field class="example-full-width">
            <textarea matInput placeholder="Leave a comment"></textarea>
          </mat-form-field>
        </form>
    <button (click)="auth.registrationUser()">Reg</button>
  </div>
</div>
